<!DOCTYPE html>
<html>
    <head>
    <title>NIT Bus Schedule</title>
    <!-- Material Design Lite JS -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- javascript読み込み -->
    <script src="{{url_for('static', filename='js/countdownTimer.js')}}"></script>
    <!-- css読み込み -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title"> NIT バススケジュール</span>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content">
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text">
                            <h4>新白岡駅→大学</h4>
                            <p>次のバス: {{ next_bus_JR_S }}</p>
                            <p><span id="next_bus_JR_S_countdown"></span></p>
                            <p class="next_next">次々のバス: {{ next_next_bus_JR_S }}</p>
                        </div>
                    </div>
                </section>

                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text">
                            <h4>大学→新白岡駅</h4>
                            <p>次のバス: {{ next_bus_JR_C }}</p>
                            <p><span id="next_bus_JR_C_countdown"></span></p>
                            <p class="next_next">次々のバス: {{ next_next_bus_JR_C }}</p>
                        </div>
                    </div>
                </section>

                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text">
                            <h4>東武動物公園駅→大学</h4>
                            <p>次のバス: {{ next_bus_TOBU_S }}</p>
                            <p><span id="next_bus_TOBU_S_countdown"></span></p>
                            <p class="next_next">次々のバス: {{ next_next_bus_TOBU_S }}</p>
                        </div>
                    </div>
                </section>

                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text">
                            <h4>大学→東武動物公園駅</h4>
                            <p>次のバス: {{ next_bus_TOBU_C }}</p>
                            <p><span id="next_bus_TOBU_C_countdown"></span></p>
                            <p class="next_next">次々のバス: {{ next_next_bus_TOBU_C }}</p>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>

    
</body>
<script>
    // カウントダウンタイマーの設定
    countdownTimer("{{ next_bus_JR_S }}", "next_bus_JR_S_countdown");
    countdownTimer("{{ next_bus_JR_C }}", "next_bus_JR_C_countdown");
    countdownTimer("{{ next_bus_TOBU_S }}", "next_bus_TOBU_S_countdown");
    countdownTimer("{{ next_bus_TOBU_C }}", "next_bus_TOBU_C_countdown");
</script>
</html>
